.header__subtitle {
  margin: 0 0 230px 0;
  font-size: 80px;
  line-height: 70px;
}

@media screen and (max-width: 1120px) {
  .header__subtitle {
    font-size: 50px;
    margin-bottom: 470px;
    line-height: 60px;
  }
}

@media screen and (max-width: 768px){
  .header__subtitle {
    margin-bottom: 260px;
    font-size: 30px;
    line-height: 38px;
  }
}
