@font-face {
  src: url('./ttf/Roboto-Regular.ttf') format('truetype');
  font-family: 'Roboto';
  font-weight: 400;
}

@font-face {
  src: url('./ttf/Roboto-Medium.ttf') format('truetype');
  font-family: 'Roboto';
  font-weight: 500;
}

