@use 'mixins' as *;

.body__logo {
  @include flex-start-center;
  gap: 20px;
  padding: 60px 0;
}

@media screen and (max-width: 768px) {
  .body__logo {
    gap: 16px;
    padding: 24px 0 60px 0;
  }
}
