@use 'mixins' as *;

.footer {
  color: #fff;
  @include max-container(1120px);
  padding: 60px 0;
  @include flex-start-column;
  gap: 60px;
  border-top: 2px solid #151515;
  .body__logo {
    padding: 0;
  }
  .body__feedback {
    padding: 0;
  }
}

@media screen and (max-width: 1120px) {
  .footer {
    @include max-container(648px);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    @include max-container(280px);
    padding: 20px 0;
  }
}
