@use 'mixins' as *;

.body__feedback-container-badge {
  all: unset;
  cursor: pointer;
  padding: 13px 16px;
  border-radius: 0 8px 8px 0;
  background-color: #47474C;
  @include flex-start;
  gap: 10px;
  .badge-text {
    white-space: nowrap;
  }
}

@media screen and (max-width: 768px){
  .badge-text {
    display: none;
  }
}
