@use 'mixins' as *;

.content {
  @include max-container(1120px);
  padding: 60px;
  @include flex-start-column;
  gap: 60px;
}

@media screen and (max-width: 1120px) {
  .content {
    @include max-container(648px);
  }
}

@media screen and (max-width: 768px) {
  .content {
    @include max-container(280px);
    gap: 20px;
  }
}
